@use 'general' as *;

.LinksContainer{
	margin: 1.5rem 0;

}

.LinksContainer__ul--li {
	margin-bottom: 1rem;
	text-align: center;
} 

.LinksA {
	font-size: 16px;
}

.LogoLinkContainer {
	display: flex;
	justify-content: center;
}