.PromoImg__Container--img {
	width: 100%;
}

.PromoImg__Container--h2 {
	padding: 1rem;
	text-align: left;
	color: black;
	margin-bottom: 0.6rem;
}

.PromoBtnContainer {
	display: flex;
	justify-content: center;
	margin-bottom: 2rem;
}

.PromoBtn {
	width: 80%;
}

