* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-top: 3.3rem;
}

a, h2, p, h3, strong {
  color: white;
}

a {
  text-decoration: none;
  list-style: none;
  font-weight: bold;
  font-size: 12px;
}

ul {
  list-style: none;
}

small {
  color: black;
}

button {
  border: none;
  border-radius: 20px;
  color: white;
  z-index: 15;
}

.MenuContainer::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 90%;
  height: 2px;
  background-color: #222222;
  left: 50%;
  transform: translateX(-50%);
}

.ExploreGames__Container--h2, .News__Container--h2, .News__Container--h2, .Store__Container--h2, .Carousel__Container--h2 {
  color: black;
  text-align: center;
  padding: 1.5rem 0;
}

.ExplorePaddingBtn {
  padding-bottom: 5rem;
}

.PaddingBtn {
  padding-bottom: 6.5rem;
}

footer {
  background-color: #1d1e22;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.UConnectBtn {
  background-color: #2d2e31;
  height: 4.5rem;
  width: 90%;
  border-radius: 25px;
  font-size: 20px;
  font-weight: bold;
  padding: 0 30px;
  margin-top: 1rem;
}

.LegalContainer {
  text-align: center;
  line-height: 11px;
  padding: 0 25px;
  margin-bottom: 2rem;
}

.LegalContainer--small {
  color: white;
  font-size: 12px;
}

.EsrbContainer {
  margin-bottom: 3rem;
}

nav {
  background-color: black;
  display: flex;
  align-items: center;
  height: 3.3rem;
  position: fixed;
  z-index: 10000;
  top: 0;
  width: 100%;
}

nav:after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 90%;
  height: 2px;
  background-color: #151515;
  left: 50%;
  transform: translateX(-50%);
}

.NavMobile {
  display: flex;
  justify-content: space-between;
  margin: 0 5px;
  width: 100%;
}

.userIcon__Container--img, .UbisoftLogo__Container--img {
  height: 35px;
  width: 35px;
}

.userIcon__Container, .ellipseMenu__Container {
  display: flex;
  align-items: center;
}

/*.ellipseMenu__Container {
	margin-top: 0.5rem;
}*/
.ellipseMenu__Container--img {
  height: 28px;
  width: 35px;
  color: white;
}

/*Ubisoft Logo*/
.UbisoftLogo__Container {
  display: flex;
  align-items: center;
}

.UbisoftLogo__Container--svg {
  width: 7rem;
  height: 30px;
}

@font-face {
  font-family: "UbisoftRegular";
  src: url("../../assets/fonts/UbisoftSans-Regular.ttf");
}
p, h2, input {
  font-family: "UbisoftRegular";
}

.MenuCContainer {
  position: fixed;
  width: 100%;
  z-index: 10001;
}

.MenuContainer {
  background-color: black;
  padding: 1.3rem 0px;
  position: relative;
}

.MobileSubMenuContainer {
  margin: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
}

.MobileSubMenuContainer--h3 {
  color: white;
  margin-bottom: 0.5rem;
}

.MobileSubMenuContainer--img {
  height: 7px;
  width: 14px;
}

.ListContainer {
  margin: 0 2.8rem;
}

.ListContainer li {
  margin-top: 15px;
  /*	font-weight: bold;
  	font-size: 12px;*/
}

.MenuContainerDownload {
  background-color: black;
  padding: 1.5rem 0px;
  height: 25rem;
}

.DownloadMenuContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.DMenuContainer {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.DMenuContainer--img {
  height: 15px;
  margin-left: 5px;
}

.DInputContainer {
  display: flex;
  justify-content: center;
  width: 90%;
  margin-bottom: 2rem;
}

.DInputContainer input {
  width: 90%;
  border: none;
  height: 1.8rem;
  border-radius: 15px;
  background-color: #393939;
  padding-left: 25px;
  color: white;
  background-image: url("../../src/assets/logos&Icons/searchIcon.svg");
  background-repeat: no-repeat;
  background-position: left 8px bottom 7.5px;
  background-size: 12px;
}

.DInputContainer input::placeholder {
  color: white;
}

.imgInactive {
  transform: scaleY(-1);
  /*	animation-name: anim;
  	animation-duration: 0.4s;*/
}

/*@keyframes anim {
	0%{ 
		transform: rotate(350deg);
	}

	25%{
		trasform: rotate(315deg);
	}

	50%{
		transform: rotate(270deg);
	}

	100% {
		transform: rotate(180deg);
	}
}*/
.imgActive {
  transform: scaleY(1);
  /*	animation-name: anim;
  	animation-duration: 0.4s;*/
}

.nothing {
  display: none;
}

.CarouselSection {
  margin-bottom: -5px;
}

.Short {
  margin-top: 6rem;
}

.BattleCoreArenaGameContainer {
  margin-top: 10rem;
  margin-bottom: 2rem;
}

/**/
.CarouselContainer {
  position: relative;
}

.UbisoftPlus__Container {
  position: absolute;
}

.UbisoftPlus__Container--img {
  width: 9rem;
}

.UbisoftPlus__Container {
  z-index: 2;
}

.CarouselImage__Container {
  position: relative;
  z-index: 0;
}

.CarouselImage__Container--img {
  width: 100%;
}

.GameNBtnContainer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 13%;
  padding: 0px 19px;
  z-index: 4;
}

.GameTitle__Container {
  margin-bottom: 8px;
  padding: 0px 25px;
}

.BattleCoreTitleContainer, .AvatarContainer {
  padding: 0px;
}

.GameTitle__Container--title {
  font-size: 2.4rem;
  filter: drop-shadow(0px 1px 10px black);
  text-align: center;
}

.BattleCoreTitle {
  font-size: 1.6rem;
}

.GameDescription__Container {
  margin-bottom: 1rem;
  width: 100%;
}

.GameDescription__Container--p {
  filter: drop-shadow(0px 1px 8px black);
  font-size: 16px;
  text-align: center;
}

.CarouselItemBtn__Container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.CarouselNameLogo__Container {
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: 4%; /*Assassins Creed: 3*/
  width: 100%;
  z-index: 3;
  overflow: hidden;
}

.CarouselNameLogo__Container--img { /*Assassins creed*/
  width: 14rem;
}

.CarouselDisplay {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  height: 73.45px;
  width: 40rem;
}

.AssassinsCreedTitleContainer h2 {
  font-size: 2.3rem;
}

.AvatarTitle {
  font-size: 2.7rem;
}

.AvatarDescriptionContainer {
  margin-top: 6rem;
}

.AvatarDescriptionContainer, .CarouselItemBtn__Container {
  padding: 0 1.6rem;
}

@media (min-width: 425px) {
  .GameTitle__Container {
    padding: 0px 30px;
  }
  .AssassinsCreedTitleContainer .GameTitle__Container--title {
    font-size: 2.5rem;
  }
}
.CarouselItemBtn__Container--btn {
  height: 2.5rem;
  width: 8rem;
  font-size: 12px;
}

.BlackBtn {
  background-color: black;
  font-weight: bold;
}

.YellowBtn {
  background-color: #ba8100;
}

.OrangeBtn {
  background-color: #fa4309;
  height: 2.7rem;
  border-radius: 25px;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 16px;
}

.OrangeBtn:nth-last-child(-n+1) {
  display: none;
}

.BlueBtn {
  background-color: #016aa4;
}

.PinkBtn {
  background-color: #df3fa4;
  height: 2.5rem;
  width: 8rem;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 16px;
}

.BattleCoreArenaBtn {
  width: 80%;
}

.CarouselLogosNBtns__Container {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  bottom: 5%;
}

.CarouselBtn--btn {
  background-repeat: no-repeat;
  background-position: center;
  height: 2.5rem;
  width: 3rem;
  background-color: rgba(255, 255, 255, 0.2);
  transition: all 0.5s ease;
  cursor: pointer;
}

.CarouselBtn--btn:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.CarouselLeft {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.CarouselRight {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.CarouselBtn--img {
  width: 30%;
}

.BattleCoreArenaBtnContainer {
  justify-content: center;
}

.UbisoftPremium {
  background-image: url("../../src/assets/UbisoftPlusBackgroundImage.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 280px;
  background-size: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.UbisoftPremium__Container {
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 3rem;
  margin-top: 1rem;
}

.UbisoftPremium__Container--h2 {
  margin: 1rem 0;
}

.UbisoftPremium__Container--p {
  margin-bottom: 1rem;
  font-weight: bold;
}

.ExploreGamesSection {
  background-color: #fff;
}

.ViewGamesCarouselItem__Container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.ViewGamesCarouselItem__Container--img {
  width: 70%;
}

.ViewGamesCarouselItem__Container--a {
  margin: 10px 0px;
  color: black;
  text-align: center;
  padding: 0 5px;
  font-size: medium;
}

.LogosContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Logos {
  margin: 0 1px;
  width: 15px;
  height: 15px;
}

.ViewGames__Container {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.ExploreGamesCarouselBtns {
  bottom: 0;
}

.ExploreGamesCarouselBtn--btn {
  background-color: rgba(207, 207, 207, 0.2);
  height: 2.7rem;
}

.ExploreGamesCarouselBtn--btn:active {
  background-color: rgba(175, 175, 175, 0.2);
}

.PinkBtn {
  height: 3rem;
  border-radius: 30px;
  width: 60%;
}

.NewsContainerSection {
  padding-bottom: 2rem;
}

.NewsContainerSection {
  background-color: #eff2f3;
}

.NewsP__Container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin: 0 15px;
  margin-bottom: 1rem;
}

.NewsP__Container--p {
  color: #d80388;
  font-size: 1.2rem;
  padding: 5px 0;
}

.ThumbnailContainer__AContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.NewsItem__Container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

.NewsItem__Container--img {
  width: 100%;
}

.NewsItemText__Container {
  margin-top: 0.5rem;
}

.NewsItemText__Container--h2 {
  margin-top: 0.5rem;
  color: black;
}

.NewsBtn__Container {
  display: flex;
  justify-content: center;
}

.active {
  color: black;
  text-decoration: underline;
  font-weight: bold;
}

.ThumbnailContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 1rem;
}

.StoreItems__Container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
  position: relative;
}

.StoreItems__Container--img {
  width: 90%;
}

.StoreItems__Container--h3 {
  position: absolute;
  z-index: 1;
  padding: 1rem;
  top: 0;
  text-align: center;
  font-size: 18px;
  width: 90%;
  background: linear-gradient(180deg, black, transparent);
}

.InsideContainerSection {
  background-color: #eff3f4;
}

.InsideItems__Container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.InsideItems__Container--img {
  width: 90%;
  border-radius: 10px;
}

.InsideTitle__Container {
  width: 90%;
  background-color: rgba(0, 0, 0, 0.4);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  bottom: 0;
  height: 6.4rem;
  display: flex;
  align-items: center;
}

.InsideItems__Container--h3, .InsideTitle__Container {
  position: absolute;
}

.InsideItems__Container--h3, .InsideTitle__Container--h3 {
  font-size: 1.4rem;
  text-align: center;
  padding: 0 2rem;
}

.InsideBtn {
  background-color: white;
  height: 4rem;
}

.InsideBtn:hover {
  background-color: white;
}

.InsideRight {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
}

.InsideLeft {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.PromoImg__Container--img {
  width: 100%;
}

.PromoImg__Container--h2 {
  padding: 1rem;
  text-align: left;
  color: black;
  margin-bottom: 0.6rem;
}

.PromoBtnContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.PromoBtn {
  width: 80%;
}

.UbiConnectSection {
  background-color: #091225;
}

.UbiConnectSection__Container {
  position: relative;
}

.ConnectArrow__Container {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.ConnectArrow__Container--img {
  width: 30px;
}

.UbiConnectImg__Container--img {
  width: 100%;
}

.UbiConnectTitle__Container, .UbiConnectDesc__Container {
  text-align: center;
  margin: 20px 0;
}

.UbiConnectTitle__Container--h2 {
  font-size: 42px;
}

.UbiConnectDesc__Container {
  margin-bottom: 2rem;
}

.UbiConnectDesc__Container--p {
  font-size: 26px;
  line-height: 1.8rem;
  margin-bottom: -5px;
}

.UbiConnectDesc__Container--strong {
  font-size: 24px;
}

.UbiConnectBtn__Container {
  display: flex;
  justify-content: center;
}

.UbiConnectBtn__Container--btn {
  height: 2.7rem;
  width: 75%;
  background-color: #006ef5;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 1px;
  margin-bottom: 2rem;
}

.SocialMedia__Container {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.SocialMedia__Container--img {
  width: 11%;
  border-radius: 25px;
  margin: 1rem;
}

.LinksContainer {
  margin: 1.5rem 0;
}

.LinksContainer__ul--li {
  margin-bottom: 1rem;
  text-align: center;
}

.LinksA {
  font-size: 16px;
}

.LogoLinkContainer {
  display: flex;
  justify-content: center;
}

.CorpContainer {
  text-align: center;
  padding: 0 30px;
  margin-top: 1rem;
}

.CorpContainerUl__li {
  margin-bottom: 1.5rem;
}

.CorpItem--a {
  color: #9b9b9b;
  font-size: 14px;
  font-weight: normal;
}

.message {
  display: none;
}

@media (min-width: 431px) {
  .message {
    display: block;
    width: 70%;
    padding: 2rem;
    text-align: center;
  }
  .message p {
    display: inherit;
    color: black;
    font-size: 18px;
    margin-bottom: 1rem;
  }
}
@media (min-width: 431px) {
  nav, section, .SocialMedia__Container, footer {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
